<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DevNet.io</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="DevNetApp" ng-cloak>

    <md-content class="navbar">
      <ul>
        <li><a href="#home" class="active"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
        <li><a href="#contact"><i class="fa fa-bell" aria-hidden="true"></i>Notifications</a></li>
        <li><a href="#contact"><i class="fa fa-envelope" aria-hidden="true"></i>Messages</a></li>
      </ul>
    </md-content>

    <md-content layout="row" ng-controller="DevAppCtrl" layout-xs="column" layout-margin>
      <md-card class="profile-card">
        <img class="user-cover-image" src="images/cover-photo.jpg" />
        <div class="name-pic-section" layout="row">
          <img class="user-profile-image" src="images/profile-picture.jpg" />
          <p class="md-title">{{ currentUser.name }}</p>
        </div>

        <div layout="row" class="user-stats" layout-margin layout-padding>
          <div class="followers profile-stat" flex>
            <p class="md-subhead">Followers</p>
            <p class="md-title">{{ currentUser.followers }}</p>
          </div>
          <div class="following profile-stat" flex>
            <p class="md-subhead">Following</p>
            <p class="md-title">{{ currentUser.following }}</p>
          </div>
          <div class="commits profile-stat" flex>
            <p class="md-subhead">Commits</p>
            <p class="md-title">{{ currentUser.commits }}</p>
          </div>
        </div>
      </md-card>

      <md-card class="search-card" layout-padding>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Developers">
                <md-input-container class="search-bar">
                  <label>Search Developers</label>
                  <input ng-model="user.email" type="name">
                </md-input-container>
            </md-tab>
            <md-tab label="Projects">
              <md-input-container class="search-bar">
                <label>Search Projects</label>
                <input ng-model="user.email" type="name">
              </md-input-container>
            </md-tab>
          </md-tabs>
      </md-card>
    </md-content>

    <md-content layout="row" layout-xs="column" ng-controller="DevAppCtrl" ng-cloak layout-margin>
      <md-card class="trending-card" layout-padding flex>
        <p class="md-headline heading">Trending Projects</p>
        <md-divider></md-divider>
        <div class="trending-projects" ng-repeat="project in testTrendingProjects">
          <md-card class="project-card" layout-padding>
            <div layout="row">
              <p class="md-title" flex><strong>{{ project.name }}</strong></p>
              <p class="md-subhead project-language" flex>{{ project.language }}</p>
            </div>
            <p class="md-subhead">{{ project.description }}</p>
            <div layout="row">
              <div flex>
                <strong>Collaborators: {{ project.collaborators }}</strong>
              </div>
              <div flex>
                <strong>Forks: {{ project.forks }}</strong>
              </div>
              <div flex>
                <strong>Issues: {{ project.issues }}</strong>
              </div>
            </div>
          </md-card>
        </div>
      </md-card>
      <md-card class="stream-card" layout-padding flex>
        <p class="md-headline heading">Follower Feed</p>
        <md-divider></md-divider>
        <div class="follower-feed">

        </div>
      </md-card>
    </md-content>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
